.background_container{
    
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 50px;
    background-attachment: scroll;
    
    
}
